@charset "UTF-8";
@font-face {
  font-family: "PTRootUI";
  src: url("../res/fonts/pt-root-ui_light.woff2") format("woff2"), url("../res/fonts/pt-root-ui_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PTRootUI";
  src: url("../res/fonts/pt-root-ui_regular.woff2") format("woff2"), url("../res/fonts/pt-root-ui_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PTRootUI";
  src: url("../res/fonts/pt-root-ui_medium.woff2") format("woff2"), url("../res/fonts/pt-root-ui_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PTRootUI";
  src: url("../res/fonts/pt-root-ui_bold.woff2") format("woff2"), url("../res/fonts/pt-root-ui_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

* {
  font-family: PTRootUI, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  color: #0c0c0c;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 804px);
  padding-right: calc(50% - 804px);
}

.company-logo {
  font-weight: 700;
  font-size: 1.2222222rem;
  display: flex;
  align-items: center;
  gap: 8px;
}
.main-content {
  flex: 1;
}

.header {
  border-bottom: 1px solid #e0e0e0;
}
.header-logo {
  margin: 0px 32px;
}
.header-ad {
  height: 40px;
  background: #ff9201;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-ad__link * {
  color: #f0f6f9;
}
.header-ad__link *:not(:nth-child(1))::before {
  content: "|";
  margin: 0 20px;
}
.header-ad__link:hover, .header-ad__link:focus {
  text-decoration: underline;
  text-decoration-color: #f0f6f9;
}
.header-ad__icon {
  top: 8px;
  right: 32px;
  position: absolute;
  cursor: pointer;
}
.header__main {
  display: flex;
  flex-flow: row;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  margin-right: auto;
}
.header__navigation-content {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 24px;
}
.header__navigation-content li::marker {
  content: none;
}
.header__navigation-content li:hover, .header__navigation-content li:focus {
  text-decoration: underline;
}
.header__active-menu {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 33px;
}

.h1, .h2, .h3, .h4 {
  font-weight: 700;
}
.h1 {
  font-size: 92px;
}
.h2 {
  font-size: 40px;
}
.h3 {
  font-size: 28px;
}
.h4 {
  font-size: 24px;
}

@media (max-width: 1440px) {
  .h1 {
    font-size: 72px;
  }
  .h2 {
    font-size: 36px;
  }
  .h3 {
    font-size: 26px;
  }
  .h4 {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 48px;
  }
  .h2 {
    font-size: 32px;
  }
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 22px;
  }
}
@media (max-width: 372px) {
  .h1 {
    font-size: 36px;
  }
  .h2 {
    font-size: 28px;
  }
  .h3 {
    font-size: 22px;
  }
  .h4 {
    font-size: 18px;
  }
}
.cards-title {
  margin-top: 32px;
}
.cards_vertical {
  max-width: 1200px;
  margin: auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}
.card-container__list {
  display: flex;
  flex-flow: column;
  max-width: 1200px;
  margin: 0px auto;
}
.card-container__list-head {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  padding: 24px;
  border-top: 1px solid #c2c2c2;
  max-width: 1200px;
  margin: 0 auto;
}
.card-container__list-head__text {
  color: #616161;
}
.card-container__list-head__textlarge {
  font-size: 18px;
}
.card-container .list-scheme {
  min-width: 120px;
}
.card-container .list-room {
  min-width: 200px;
}
.card-container .list-room-area {
  min-width: 92px;
}
.card-container .list-building-num {
  min-width: 92px;
}
.card-container .list-floor {
  min-width: 92px;
}
.card-container .list-price {
  min-width: 310px;
  margin-left: 40px;
}

.card {
  border: 1px solid #c2c2c2;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 32px;
  grid-column: span 3;
  position: relative;
  display: flex;
  gap: 16px;
  cursor: pointer;
  justify-content: space-between;
}
.card:hover {
  border-color: #074ce7;
}
.card__vertical {
  min-height: 528px;
  max-height: 528px;
  flex-flow: column nowrap;
}
.card__vertical .card__floating-button {
  position: absolute;
  top: 32px;
  right: 32px;
}
.card-title {
  font-size: 1.3333333rem;
  font-weight: 700;
  line-height: 32px;
}
.card-info {
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.card-text {
  font-size: 0.7777778rem;
  font-weight: 400;
  line-height: 20px;
}
.card-image {
  min-height: 228px;
  max-height: 228px;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.card-image img {
  max-width: 100%;
  max-height: 100%;
}
.card__info {
  margin-top: auto;
}
.card__price {
  font-size: 1.5555556rem;
  font-weight: 700;
}
.card__price-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}
.card__price_promo {
  color: #ff9201;
}
.card__price_old {
  font-size: 0.8888889rem;
  color: #9e9e9e;
  text-decoration: line-through;
}
.card-additional-info {
  font-size: 0.8888889rem;
  margin-top: 8px;
  color: #9e9e9e;
}
.card__active-menu {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}
.card__list {
  height: 140px;
  padding: 24px;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
}
.card__list .card-list-image {
  min-height: auto;
  height: 100%;
  min-width: 120px;
  max-width: 120px;
}
.card__list .card-list-info {
  min-width: 200px;
  max-width: 200px;
}
.card__list .card-list-room-area {
  min-width: 92px;
  max-width: 92px;
}
.card__list .card-list-building-num {
  min-width: 92px;
  max-width: 92px;
}
.card__list .card-list-floor {
  min-width: 92px;
  max-width: 92px;
}
.card__list .card-list-price {
  min-width: 310px;
  max-width: 310px;
  padding-left: 40px;
  border-left: 1px solid #c2c2c2;
}
.card__list .card__floating-button {
  margin-left: auto;
}

.text-1r {
  font-size: 18px;
  font-weight: 400;
}
.text-1m {
  font-size: 18px;
  font-weight: 500;
}
.text-2r {
  font-size: 16px;
  font-weight: 400;
}
.text-2m {
  font-size: 16px;
  font-weight: 500;
}
.text-3r {
  font-size: 14px;
  font-weight: 400;
}
.text-3m {
  font-size: 14px;
  font-weight: 500;
}
.text-4r {
  font-size: 12px;
  font-weight: 400;
}
.text-4m {
  font-size: 12px;
  font-weight: 500;
}
.text-other {
  font-size: 40px;
}

@media (max-width: 1440px) {
  .text-other {
    font-size: 32px;
  }
}
@media (max-width: 1024px) {
  .text-other {
    font-size: 26px;
  }
}
@media (max-width: 425px) {
  .text-1r, .text-1m {
    font-size: 16px;
  }
  .text-2r, .text-2m {
    font-size: 14px;
  }
  .text-3r, .text-3m {
    font-size: 12px;
  }
  .text-4r, .text-4m {
    font-size: 10px;
  }
}
.switch {
  display: flex;
}
.switch-text {
  color: #616161;
  cursor: default;
}
.switch-text.active {
  color: #074ce7;
}
.switch-element {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  border-radius: 34px;
}
.switch-element:hover {
  box-shadow: 0px 4px 32px 0px rgba(0, 16, 61, 0.48);
}
.switch-element input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #074ce7;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #f0f6f9;
  transition: 0.4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.badge {
  font-weight: 500;
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}
.badge:hover, .badge:focus {
  filter: saturate(0.8) brightness(0.9);
}
.badge_large {
  font-size: 0.8888889rem;
  padding: 8px 16px;
}
.badge_medium {
  font-size: 0.7777778rem;
  padding: 8px 14px;
}
.badge_small {
  font-size: 0.6666667rem;
  padding: 4px 10px;
}
.badge_dark {
  color: #ffffff;
  background: #757575;
}
.badge_light {
  background: #e0e0e0;
}
.badge_grey {
  background: #ffffff;
}
.badge_promo {
  color: #ffffff;
  background: #ff9201;
}
.badge_group {
  color: #ffffff;
  background: #074ce7;
}

.dropdown-button {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  opacity: 0;
  top: 100%;
  left: 50%;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  border-radius: 20px;
  position: absolute;
  background-color: #363534;
  max-width: 283px;
  z-index: 1;
  padding: 16px 24px;
  transform: translate(-50%, calc(-100% - 43px));
  transition: opacity 0.3s;
}
.dropdown-content::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: calc(50% - 10px);
  bottom: -9px;
  box-sizing: border-box;
  border: 10px solid black;
  border-color: #363534 #363534 transparent transparent;
  transform: rotate(135deg);
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  opacity: 100;
}

/* Стилизация основного контейнера */
.custom-select {
  position: relative;
  min-width: 400px;
}
.custom-select * {
  font-size: 16px;
  font-weight: 500;
}
.custom-select__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
}
.custom-select__selected-text {
  color: #074ce7;
}
.custom-select__arrow {
  margin-left: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
.custom-select__options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 16px;
  background: white;
  box-shadow: 0px 4px 32px 0px rgba(0, 16, 61, 0.48);
  overflow: hidden;
}
.custom-select__option {
  padding: 10px;
  cursor: pointer;
}
.custom-select__option:hover {
  color: #074ce7;
  background: #f0f6f9;
}
.custom-select__option.selected {
  color: #f0f6f9;
  background: #074ce7;
}

@media (max-width: 1025px) {
  .custom-select {
    width: 100%;
    min-width: auto;
  }
  .custom-select__box {
    display: flex;
    justify-content: center;
    padding: 14px 24px;
    border-color: #074ce7;
  }
  .custom-select__label {
    display: none;
  }
  .custom-select__options {
    width: -moz-fit-content;
    width: fit-content;
    left: auto;
    right: 0;
  }
}
.menu {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}
.menu-block {
  display: flex;
  gap: 8px;
  align-items: center;
}

.button {
  font-size: 1rem;
  background-color: #074ce7;
  border: 1px solid #074ce7;
  color: #f0f6f9;
  border-radius: 44px;
  padding: 16px 32px;
  box-sizing: border-box;
  height: 58px;
  cursor: pointer;
}
.button_normal {
  height: 48px;
  padding: 14px 26px;
}
.button:hover {
  background: #002b79;
  border-color: #002b79;
}
.button:focus {
  color: #074ce7;
  background: #f0f6f9;
}
.button_card {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
}
.button_stroke {
  color: #0c0c0c;
  background: transparent;
}
.button_stroke:hover {
  color: #074ce7;
  border-width: 2px;
  background: transparent;
}
.button_stroke:focus {
  background: transparent;
  border-color: #0c0c0c;
}
.button_gray {
  color: #074ce7;
  background: #f0f6f9;
  border-color: #f0f6f9;
}
.button_gray:hover {
  color: #f0f6f9;
  border-color: #074ce7;
  background: #074ce7;
}
.button_gray:focus {
  border-color: #074ce7;
}

.image-button {
  all: unset;
  cursor: pointer;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background: #f0f6f9;
  margin-top: 120px;
}
.footer__content {
  display: flex;
}
.footer__content__active-menu {
  display: flex;
  flex-flow: row nowrap;
  gap: 32px;
  align-items: center;
  margin-right: auto;
}
.footer__content__links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}
.footer__separator {
  margin: 48px 0;
  border-color: #c2c2c2;
}
.footer__dev-rights {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.footer__dev-rights__text {
  color: #9e9e9e;
  font-weight: 400;
  line-height: 20px;
  font-size: 0.7777778rem;
  max-width: 900px;
}

@media (max-width: 1440px) {
  .center {
    padding-left: calc(50% - 648px);
    padding-right: calc(50% - 648px);
  }
  .card {
    padding: 24px;
  }
  .card-container__list {
    max-width: 965px;
    gap: 16px;
  }
  .card-container__list-head {
    max-width: 965px;
  }
  .card-container .list-scheme {
    min-width: 110px;
  }
  .card-container .list-room {
    min-width: 180px;
  }
  .card-container .list-price {
    min-width: 190px;
    margin-left: 23pxpx;
  }
  .card__vertical {
    min-height: 482px;
  }
  .card__list {
    height: 160px;
    gap: 16px;
  }
  .card__list .card-list-image {
    height: 126px;
    min-width: 110px;
    max-width: 110px;
  }
  .card__list .card-list-info {
    min-width: 180px;
    max-width: 180px;
  }
  .card__list .card-list-price {
    min-width: 190px;
    max-width: 190px;
    padding-left: 23px;
    border-left: 1px solid #c2c2c2;
  }
}
@media (width <= 1300px) {
  .header .header-logo {
    margin-right: auto;
  }
  .header .header__navigation {
    display: none;
  }
}
@media (width <= 1296px) {
  .center {
    padding-left: calc(50% - 468px);
    padding-right: calc(50% - 468px);
  }
  .card {
    grid-column: span 4;
  }
  .card-container__list-head {
    display: none;
  }
  .card__list {
    padding: 32px;
    padding-left: 208px;
    height: 190px;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .card__list *:not(:nth-child(1)) {
    min-width: unset !important;
    max-width: unset !important;
    align-self: flex-end;
  }
  .card-list-image {
    position: absolute;
    left: 32px;
    top: 32px;
    max-width: 152px;
    height: 126px;
  }
  .card-list-building-num {
    display: flex;
    flex-direction: row;
  }
  .card-list-price {
    width: 100%;
    padding-left: 0 !important;
    border: unset !important;
  }
  .card__price-container {
    gap: 16px !important;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .card__floating-button {
    right: 32px;
    position: absolute;
    align-self: center !important;
  }
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer__separator {
    margin: 24px 0;
  }
  .footer__dev-rights__text {
    font-size: 1rem;
    max-width: 616px;
  }
}
@media (max-width: 1024px) {
  .menu {
    flex-flow: column-reverse;
    align-items: flex-end;
    gap: 24px;
  }
  .menu-block {
    width: 100%;
  }
  .menu-block.switch {
    width: unset;
  }
  .select {
    max-width: none;
    width: 100%;
    border: 1px solid #074ce7;
  }
  .select select {
    text-align: center;
  }
  .select__title {
    display: none;
  }
  .card {
    padding: 24px;
  }
  .card-container {
    gap: 16px;
  }
  .card-container__list-head {
    display: none;
  }
  .card__list {
    padding-left: 208px;
  }
}
@media (max-width: 936px) {
  .center {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header__link-about {
    display: none;
  }
  .header__favorites {
    display: none;
  }
  .header__choose-button {
    display: none;
  }
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .card__list {
    padding-right: 64px;
    height: auto;
  }
  .footer__content {
    flex-flow: column;
    gap: 24px;
  }
  .footer__content__active-menu {
    margin: 0;
    justify-content: space-between;
  }
  .footer__content__links {
    justify-content: center;
  }
  .footer__separator {
    margin: 24px 0;
  }
}
@media (max-width: 768px) {
  .header-ad {
    padding: 13px 12px;
    display: flex;
    align-items: flex-start;
  }
  .header-ad * {
    font-size: 16px;
  }
  .header-ad__link-about {
    display: none;
  }
  .header-ad__icon {
    width: 24px;
    height: 24px;
    position: initial;
  }
  .header__menu-button {
    order: 999;
  }
  .header-logo {
    font-size: 1rem;
    margin: 0 !important;
  }
  .footer__reqiest-call {
    display: none;
  }
}
@media (width <= 426px) {
  .center {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header__favorites {
    display: none;
  }
  .header__choose-button {
    display: none;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .company-phone {
    display: none;
  }
}
.headlines {
  margin: 48px 0;
}/*# sourceMappingURL=index.css.map */