@use "vars";

html {
  box-sizing: border-box;
}

* {
  font-family: PTRootUI, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  color: vars.$color-gray-100;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 1608px / 2);
  padding-right: calc(50% - 1608px / 2);
}

.company {
  &-logo {
    font-weight: 700;
    font-size: 1.2222222rem;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-phone {
  }
}

.main-content {
  flex: 1;
}
