@font-face {
    font-family: "PTRootUI";
    src: url("../res/fonts/pt-root-ui_light.woff2") format("woff2"), url("../res/fonts/pt-root-ui_light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "PTRootUI";
    src: url("../res/fonts/pt-root-ui_regular.woff2") format("woff2"), url("../res/fonts/pt-root-ui_regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PTRootUI";
    src: url("../res/fonts/pt-root-ui_medium.woff2") format("woff2"), url("../res/fonts/pt-root-ui_medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "PTRootUI";
    src: url("../res/fonts/pt-root-ui_bold.woff2") format("woff2"), url("../res/fonts/pt-root-ui_bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
