$color-base: #074ce7;
$color-primary-dark: #002b79;
$color-secondary: #ff9201;

$color-bg: #f0f6f9;

$color-success: #019907;
$color-error: #ff4139;
$color-error-bg: #fff3f0;

$color-gray-10: #ffffff;
$color-gray-20: #f5f5f5;
$color-gray-30: #ededed;
$color-gray-40: #e0e0e0;
$color-gray-50: #c2c2c2;
$color-gray-60: #9e9e9e;
$color-gray-70: #757575;
$color-gray-80: #616161;
$color-gray-90: #363534;
$color-gray-100: #0c0c0c;

$drop-shadow-d2: 0px 4px 32px 0px rgba(0, 16, 61, 0.48);
$drop-shadow-d3: 0px 16px 48px 0px rgba(0, 16, 61, 0.48);
