@use "../vars";

@media (max-width: 1440px) {
    .center {
        padding-left: calc(50% - 1296px / 2);
        padding-right: calc(50% - 1296px / 2);
    }

    .card {
        padding: 24px;

        &-container {
            &__list {
                max-width: 965px;
                gap: 16px;

                &-head {
                    // display: none;
                    max-width: 965px;
                }
            }

            & .list {
                &-scheme {
                    min-width: 110px;
                }

                &-room {
                    min-width: 180px;
                }

                &-room-area {
                    // min-width: $width-list-room-area;
                }

                &-building-num {
                    // min-width: $width-list-building-num;
                }

                &-floor {
                    // min-width: $width-list-floor;
                }

                &-price {
                    min-width: 190px;
                    margin-left: 23pxpx;
                }
            }
        }

        &__vertical {
            min-height: 482px;
        }

        &__list {
            height: 160px;
            gap: 16px;

            & .card {
                &-list {
                    &-image {
                        height: 126px;
                        min-width: 110px;
                        max-width: 110px;
                    }

                    &-info {
                        min-width: 180px;
                        max-width: 180px;
                    }

                    &-room-area {
                        // min-width: $width-list-room-area;
                        // max-width: $width-list-room-area;
                    }

                    &-building-num {
                        // min-width: $width-list-building-num;
                        // max-width: $width-list-building-num;
                    }

                    &-floor {
                        // min-width: $width-list-floor;
                        // max-width: $width-list-floor;
                    }

                    &-price {
                        min-width: 190px;
                        max-width: 190px;
                        padding-left: 23px;
                        border-left: 1px solid vars.$color-gray-50;
                    }
                }
            }
        }

        & .card__floating-button {
            // display: none;
        }
    }
}

@media (width <= 1300px) {
    .header {
        .header {
            &-logo {
                margin-right: auto;
            }

            &__navigation {
                display: none;
            }
        }
    }
}

@media (width <= 1296px) {
    .center {
        padding-left: calc(50% - 936px / 2);
        padding-right: calc(50% - 936px / 2);
    }

    .card {
        grid-column: span 4;

        &-container {
            &__list {
                &-head {
                    display: none;
                }
            }
        }

        &__list {
            padding: 32px;
            padding-left: 208px;
            height: 190px;
            position: relative;
            flex-wrap: wrap;
            justify-content: flex-start;

            & *:not(:nth-child(1)) {
                min-width: unset !important;
                max-width: unset !important;
                align-self: flex-end;
            }
        }

        &-list {
            &-image {
                position: absolute;
                left: 32px;
                top: 32px;
                // min-width: 152px;
                max-width: 152px;
                height: 126px;
            }

            &-building-num {
                display: flex;
                flex-direction: row;
            }

            &-price {
                width: 100%;
                padding-left: 0 !important;
                border: unset !important;
            }
        }

        &__price-container {
            gap: 16px !important;
            flex-flow: row-reverse wrap;
            justify-content: flex-end;
            align-items: center;
        }

        &__floating-button {
            right: 32px;
            position: absolute;
            align-self: center !important;
        }
    }

    .footer {
        padding-top: 32px;
        padding-bottom: 32px;

        &__separator {
            margin: 24px 0;
        }

        &__dev-rights {
            &__text {
                font-size: 1rem;
                max-width: 616px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .menu {
        flex-flow: column-reverse;
        align-items: flex-end;
        gap: 24px;

        &-block {
            width: 100%;

            &.switch {
                width: unset;
            }
        }
    }

    .select {
        max-width: none;
        width: 100%;

        & select {
            text-align: center;
        }
        border: 1px solid vars.$color-base;

        &__title {
            display: none;
        }
    }

    .card {
        padding: 24px;

        &-container {
            gap: 16px;

            &__list {
                &-head {
                    display: none;
                }
            }
        }

        &__list {
            padding-left: 208px;
        }
    }
}

@media (max-width: 936px) {
    .center {
        padding-left: 12px;
        padding-right: 12px;
    }

    .header {
        &__link-about {
            display: none;
        }

        &__favorites {
            display: none;
        }
        &__choose-button {
            display: none;
        }
    }

    .card {
        &-container {
            grid-template-columns: repeat(4, 1fr);
        }

        &__list {
            padding-right: 64px;
            height: auto;
        }
    }

    .footer {
        &__content {
            flex-flow: column;
            gap: 24px;

            &__active-menu {
                margin: 0;
                justify-content: space-between;
            }

            &__links {
                justify-content: center;
            }
        }

        &__separator {
            margin: 24px 0;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &-ad {
            padding: 13px 12px;
            display: flex;
            align-items: flex-start;

            * {
                font-size: 16px;
            }

            &__link-about {
                display: none;
            }

            &__icon {
                width: 24px;
                height: 24px;
                position: initial;
            }
        }

        &__menu-button {
            order: 999;
        }

        &-logo {
            font-size: 1rem;
            margin: 0 !important;
        }
    }

    .footer {
        &__reqiest-call {
            display: none;
        }
    }
}

@media (width <= 426px) {
    .center {
        padding-left: 12px;
        padding-right: 12px;
    }

    .header {
        &__favorites {
            display: none;
        }

        &__choose-button {
            display: none;
        }
    }

    .card {
        &-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .company {
        &-phone {
            display: none;
        }
    }
}
