<div class="card-container">
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small2.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price card__price_promo">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Мастер спальня</span>

            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price">1 990 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_light">Мастер спальня</span>
            <span class="badge badge_medium badge_light">Без отделки</span>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price">1 990 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_light">Мастер спальня</span>
            <span class="badge badge_medium badge_light">Без отделки</span>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price card__price_promo">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_light">Мастер спальня</span>
            <span class="badge badge_medium badge_light">Без отделки</span>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price card__price_promo">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price card__price_promo">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price card__price_promo">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price card__price_promo">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price card__price_promo">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price card__price_promo">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price card__price_promo">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price card__price_promo">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
    <div class="card card__vertical">
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
        <div class="card-info">
            <h5 class="card-title">Студия, 32,2 м²</h5>
            <p class="card-text">ЖК «Южный», ГП2, 2 секция, 6 этаж</p>
        </div>
        <picture class="card-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card__info">
            <div class="card__price-container">
                <p class="card__price">1 990 000 ₽</p>
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <menu class="card__active-menu">
            <span class="badge badge_medium badge_promo">Скидка до 12.04</span>
            <div class="dropdown">
                <span class="badge badge_medium badge_light dropdown-button">+2</span>
                <div class="dropdown-content">
                    <span class="badge badge_medium badge_light">Терасса</span>
                    <span class="badge badge_medium badge_light">Панорамные окна</span>
                </div>
            </div>
        </menu>
    </div>
</div>
