<div class="card-container card-container__list-head">
    <p class="card-container__list-head__text list-scheme">Схема</p>
    <p class="card-container__list-head__text list-room">Комнатность</p>
    <p class="card-container__list-head__text list-room-area">Площадь</p>
    <p class="card-container__list-head__text list-building-num">Корпус</p>
    <p class="card-container__list-head__text list-floor">Этаж</p>
    <p class="card-container__list-head__text list-price">Стоимость</p>
</div>

<div class="card-container card-container__list">
    <div class="card card__list">
        <picture class="card-image card-list-image">
            <img src="./res/img/apartament-blueprint-small2.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card-list-info">
            <h5 class="card-title">Студия</h5>
            <p class="card-text text-3r">ЖК «Южный»</p>
        </div>
        <div class="card-list-room-area">
            <p class="card-text_large ">27.434 м²</p>
        </div>
        <div class="card-list-building-num">
            <p class="card-text_large">ГП2</p>
            <p class="card-text_large">2 секция</p>
        </div>
        <div class="card-list-floor">
            <p class="card-text_large ">6 из 16</p>
        </div>
        <div class="card__info card-list-price">
            <div class="card__price-container">
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
                <p class="card__price card__price_promo">1 990 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
    </div>
    <div class="card card__list">
        <picture class="card-image card-list-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card-list-info">
            <h5 class="card-title">Студия</h5>
            <p class="card-text text-3r">ЖК «Южный»</p>
        </div>
        <p class="card-text_large card-list-room-area">27.434 м²</p>
        <div class="card-list-building-num">
            <p class="card-text_large">ГП2</p>
            <p class="card-text_large">2 секция</p>
        </div>
        <p class="card-text_large card-list-floor">6 из 16</p>
        <div class="card__info card-list-price">
            <div class="card__price-container">
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
                <p class="card__price card__price_promo">1 990 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
    </div>
    <div class="card card__list">
        <picture class="card-image card-list-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card-list-info">
            <h5 class="card-title">Студия</h5>
            <p class="card-text text-3r">ЖК «Южный»</p>
        </div>
        <p class="card-text_large card-list-room-area">27.434 м²</p>
        <div class="card-list-building-num">
            <p class="card-text_large">ГП2</p>
            <p class="card-text_large">2 секция</p>
        </div>
        <p class="card-text_large card-list-floor">6 из 16</p>
        <div class="card__info card-list-price">
            <div class="card__price-container">
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
                <p class="card__price card__price_promo">1 990 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
    </div>
    <div class="card card__list">
        <picture class="card-image card-list-image">
            <img src="./res/img/apartament-blueprint-small.jpeg" alt="Чертёж карты" class="" />
        </picture>
        <div class="card-list-info">
            <h5 class="card-title">Студия</h5>
            <p class="card-text text-3r">ЖК «Южный»</p>
        </div>
        <p class="card-text_large card-list-room-area">27.434 м²</p>
        <div class="card-list-building-num">
            <p class="card-text_large">ГП2</p>
            <p class="card-text_large">2 секция</p>
        </div>
        <p class="card-text_large card-list-floor">6 из 16</p>
        <div class="card__info card-list-price">
            <div class="card__price-container">
                <p class="card__price card__price_old">от 3 190 000 ₽</p>
                <p class="card__price card__price_promo">1 990 000 ₽</p>
            </div>
            <p class="card-additional-info">Ипотека от 14 568 ₽/мес.</p>
        </div>
        <button class="image-button card__floating-button" data-fav="false" onclick="changeFavoriteStatus(this)">
            <img src="./res/svg/heart-solid.svg" alt="Добавить в избранное" class="" />
        </button>
    </div>
</div>
