@use "../vars";

.badge {
  font-weight: 500;
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;

  &:hover,
  &:focus {
    filter: saturate(0.8) brightness(0.9);
  }

  &_large {
    // 16px
    font-size: 0.8888889rem;
    padding: 8px 16px;
  }

  &_medium {
    // 14px
    font-size: 0.7777778rem;
    padding: 8px 14px;
  }

  &_small {
    // 12px
    font-size: 0.6666667rem;
    padding: 4px 10px;
  }

  &_dark {
    color: vars.$color-gray-10;
    background: vars.$color-gray-70;
  }

  &_light {
    background: vars.$color-gray-40;
  }

  &_grey {
    background: vars.$color-gray-10;
  }

  &_promo {
    color: vars.$color-gray-10;
    background: vars.$color-secondary;
  }

  &_group {
    color: vars.$color-gray-10;
    background: vars.$color-base;
  }
}
