@use "../vars";
.button {
  // 18px
  font-size: 1rem;
  background-color: vars.$color-base;
  border: 1px solid vars.$color-base;
  color: vars.$color-bg;
  border-radius: 44px;
  padding: 16px 32px;
  box-sizing: border-box;
  height: 58px;
  cursor: pointer;

  &_normal {
    height: 48px;
    padding: 14px 26px;
  }

  &:hover {
    background: vars.$color-primary-dark;
    border-color: vars.$color-primary-dark;
  }

  &:focus {
    color: vars.$color-base;
    background: vars.$color-bg;
  }

  &_card {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
  }

  //   STROKE //
  &_stroke {
    color: vars.$color-gray-100;
    background: transparent;

    &:hover {
      color: vars.$color-base;
      border-width: 2px;
      background: transparent;
    }

    &:focus {
      background: transparent;
      border-color: vars.$color-gray-100;
    }
  }

  // GRAY //
  &_gray {
    color: vars.$color-base;
    background: vars.$color-bg;
    border-color: vars.$color-bg;

    &:hover {
      color: vars.$color-bg;
      border-color: vars.$color-base;
      background: vars.$color-base;
    }

    &:focus {
      border-color: vars.$color-base;
    }
  }
}

.image-button {
  all: unset;
  cursor: pointer;
}
