@use "../vars";

$width-list-scheme: 120px;
$width-list-room: 200px;
$width-list-room-area: 92px;
$width-list-building-num: 92px;
$width-list-floor: 92px;
$width-list-price: 310px;

.cards {
    &-title {
        margin-top: 32px;
    }

    &_vertical {
        max-width: 1200px;
        margin: auto;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;

    &__list {
        display: flex;
        flex-flow: column;
        max-width: 1200px;
        margin: 0px auto;

        &-head {
            box-sizing: border-box;
            display: flex;
            flex-flow: row nowrap;
            padding: 24px;
            border-top: 1px solid vars.$color-gray-50;
            max-width: 1200px;
            margin: 0 auto;

            &__text {
                color: vars.$color-gray-80;

                &large {
                    font-size: 18px;
                }
            }
        }
    }

    & .list {
        &-scheme {
            min-width: $width-list-scheme;
        }

        &-room {
            min-width: $width-list-room;
        }

        &-room-area {
            min-width: $width-list-room-area;
        }

        &-building-num {
            min-width: $width-list-building-num;
        }

        &-floor {
            min-width: $width-list-floor;
        }

        &-price {
            min-width: $width-list-price;
            margin-left: 40px;
        }
    }
}

.card {
    border: 1px solid vars.$color-gray-50;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 32px;
    grid-column: span 3;
    position: relative;
    display: flex;
    gap: 16px;
    cursor: pointer;
    justify-content: space-between;

    &:hover {
        border-color: vars.$color-base;
    }

    &__vertical {
        min-height: 528px;
        max-height: 528px;
        flex-flow: column nowrap;

        & .card__floating-button {
            position: absolute;
            top: 32px;
            right: 32px;
        }
    }

    &-title {
        // 24px
        font-size: 1.3333333rem;
        font-weight: 700;
        line-height: 32px;
    }

    &-info {
        display: flex;
        flex-flow: column;
        gap: 8px;
    }

    &-text {
        // 14px
        font-size: 0.7777778rem;
        font-weight: 400;
        line-height: 20px;
    }

    &-image {
        min-height: 228px;
        max-height: 228px;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;

        & img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__info {
        margin-top: auto;
    }

    &__price {
        // 28px
        font-size: 1.5555556rem;
        font-weight: 700;
        // line-height: 36px;

        &-container {
            display: flex;
            flex-flow: column nowrap;
            gap: 8px;
        }

        &_promo {
            color: vars.$color-secondary;
        }

        &_old {
            // 16px
            font-size: 0.8888889rem;
            color: vars.$color-gray-60;
            text-decoration: line-through;
        }
    }

    &-additional-info {
        // 16px
        font-size: 0.8888889rem;
        margin-top: 8px;
        color: vars.$color-gray-60;
    }

    &__active-menu {
        // margin-top: auto;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 8px;
    }

    // list-card //
    &__list {
        height: 140px;
        padding: 24px;
        gap: 24px;
        align-items: center;
        justify-content: flex-start;

        & .card {
            &-list {
                &-image {
                    min-height: auto;
                    height: 100%;
                    min-width: $width-list-scheme;
                    max-width: $width-list-scheme;
                }

                &-info {
                    min-width: $width-list-room;
                    max-width: $width-list-room;
                }

                &-room-area {
                    min-width: $width-list-room-area;
                    max-width: $width-list-room-area;
                }

                &-building-num {
                    min-width: $width-list-building-num;
                    max-width: $width-list-building-num;
                }

                &-floor {
                    min-width: $width-list-floor;
                    max-width: $width-list-floor;
                }

                &-price {
                    min-width: $width-list-price;
                    max-width: $width-list-price;
                    padding-left: 40px;
                    border-left: 1px solid vars.$color-gray-50;
                }
            }
        }

        & .card__floating-button {
            margin-left: auto;
        }
    }
}
