@use "../vars";

.dropdown-button {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  opacity: 0;
  top: 100%;
  left: 50%;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  border-radius: 20px;
  position: absolute;
  background-color: vars.$color-gray-90;
  max-width: 283px;
  z-index: 1;
  padding: 16px 24px;
  transform: translate(-50%, calc(-100% - 43px));
  transition: opacity 0.3s;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: calc(50% - 10px);
    bottom: -9px;
    box-sizing: border-box;
    border: 10px solid black;
    border-color: vars.$color-gray-90 vars.$color-gray-90 transparent transparent;
    transform: rotate(135deg);
  }
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  opacity: 100;
}
