@use "../vars";

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background: vars.$color-bg;
  margin-top: 120px;

  &__content {
    display: flex;

    &__active-menu {
      display: flex;
      flex-flow: row nowrap;
      gap: 32px;
      align-items: center;
      margin-right: auto;
    }

    &__links {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 8px;
    }
  }

  &__separator {
    margin: 48px 0;
    border-color: vars.$color-gray-50;
  }

  &__dev-rights {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    &__text {
      color: vars.$color-gray-60;
      font-weight: 400;
      line-height: 20px;
      font-size: 0.7777778rem;
      max-width: 900px;
    }
  }
}
