@use "../vars";

.header {
  border-bottom: 1px solid vars.$color-gray-40;

  &-logo {
    margin: 0px 32px;
  }

  &-ad {
    height: 40px;
    background: vars.$color-secondary;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
      & * {
        color: vars.$color-bg;
      }

      & *:not(:nth-child(1))::before {
        content: "|";
        margin: 0 20px;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
        text-decoration-color: vars.$color-bg;
      }
    }

    &__icon {
      top: 8px;
      right: 32px;
      position: absolute;
      cursor: pointer;
    }
  }

  &__main {
    display: flex;
    flex-flow: row;
    padding: 16px 32px;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {
    margin-right: auto;

    &-content {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 24px;

      & li {
        &::marker {
          content: none;
        }

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  &__active-menu {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 33px;
  }
}
