.h {
  &1,
  &2,
  &3,
  &4 {
    font-weight: 700;
  }

  &1 {
    font-size: 92px;
  }
  &2 {
    font-size: 40px;
  }
  &3 {
    font-size: 28px;
  }
  &4 {
    font-size: 24px;
  }
}

@media (max-width: 1440px) {
  .h {
    &1 {
      font-size: 72px;
    }

    &2 {
      font-size: 36px;
    }

    &3 {
      font-size: 26px;
    }

    &4 {
      font-size: 22px;
    }
  }
}

@media (max-width: 1024px) {
  .h {
    &1 {
      font-size: 48px;
    }

    &2 {
      font-size: 32px;
    }

    &3 {
      font-size: 24px;
    }

    &4 {
      font-size: 22px;
    }
  }
}

@media (max-width: 372px) {
  .h {
    &1 {
      font-size: 36px;
    }

    &2 {
      font-size: 28px;
    }

    &3 {
      font-size: 22px;
    }

    &4 {
      font-size: 18px;
    }
  }
}
