.menu {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;

    &-block {
        display: flex;
        gap: 8px;
        align-items: center;
    }
}
