@use "../vars";

/* Стилизация основного контейнера */
.custom-select {
    position: relative;
    min-width: 400px;
    & * {
        font-size: 16px;
        font-weight: 500;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;
        border-radius: 16px;
        cursor: pointer;
        font-size: 16px;
    }

    &__selected-text {
        color: vars.$color-base;
    }

    &__arrow {
        margin-left: 10px;
        border: solid #333;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
    }

    &__options {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        box-sizing: border-box;
        z-index: 1;
        border-radius: 16px;
        background: white;
        box-shadow: vars.$drop-shadow-d2;
        overflow: hidden;
    }

    &__option {
        padding: 10px;
        cursor: pointer;

        &:hover {
            color: vars.$color-base;
            background: vars.$color-bg;
        }

        &.selected {
            color: vars.$color-bg;
            background: vars.$color-base;
        }
    }
}

@media (max-width: 1025px) {
    .custom-select {
        width: 100%;
        min-width: auto;

        &__box {
            display: flex;
            justify-content: center;
            padding: 14px 24px;
            border-color: vars.$color-base;
        }

        &__label {
            display: none;
        }

        &__options {
            width: fit-content;
            left: auto;
            right: 0;
        }
    }
}
