@use "../vars";

.switch {
    display: flex;

    &-text {
        color: vars.$color-gray-80;
        cursor: default;

        &.active {
            color: vars.$color-base;
        }
    }

    &-element {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 24px;
        border-radius: 34px;

        &:hover {
            box-shadow: vars.$drop-shadow-d2;
        }

        & input {
            display: none;
        }
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: vars.$color-base;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: vars.$color-bg;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    &.round {
        border-radius: 34px;
    }

    &.round:before {
        border-radius: 50%;
    }
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
