.text {
  &-1 {
    &r {
      font-size: 18px;
      font-weight: 400;
    }
    &m {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &-2 {
    &r {
      font-size: 16px;
      font-weight: 400;
    }
    &m {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &-3 {
    &r {
      font-size: 14px;
      font-weight: 400;
    }
    &m {
      font-size: 14px;
      font-weight: 500;
    }
  }

  &-4 {
    &r {
      font-size: 12px;
      font-weight: 400;
    }
    &m {
      font-size: 12px;
      font-weight: 500;
    }
  }

  &-other {
    font-size: 40px;
  }
}

@media (max-width: 1440px) {
  .text {
    &-other {
      font-size: 32px;
    }
  }
}

@media (max-width: 1024px) {
  .text {
    &-other {
      font-size: 26px;
    }
  }
}

@media (max-width: 425px) {
  .text {
    &-1r,
    &-1m {
      font-size: 16px;
    }

    &-2r,
    &-2m {
      font-size: 14px;
    }

    &-3r,
    &-3m {
      font-size: 12px;
    }

    &-4r,
    &-4m {
      font-size: 10px;
    }
  }
}
